<div class="container">
  <div class= "row">
    <h3>写真一覧</h3>
    <div class="col-12 ">

      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image %>
        <% end %>
        <%= post.title %>
        <%= post.created_at.strftime('%Y/%m/%d') %>

        <% if post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorites_path(post), method: :delete do %>
              ★<%= post.favorites.count %> お気に入り解除
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_favorites_path(post), method: :post do %>
              ☆<%= post.favorites.count %> お気に入り
            <% end %>
          </p>
        <% end %>
            <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
        <% end %>
    </div>
  </div>
</div>