<h3>写真投稿ページ</h3>
<%= form_with model: @post, local: true, url: new_post_path do |f| %>

  <%= f.file_field :image, accept: "image/*" %><br>
  <%= f.label "タイトル" %>
  <%= f.text_field :title %><br>
  <%= f.label "説明文" %>
  <%= f.text_field :body %><br>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
  <%= f.label "地図情報" %>
  <div id='map'></div>

  <style>
      #map {
          height: 200px;
          width: 200px;
      }
  </style>

  <script>
  let map

   const display = document.getElementById('display')

  function initMap(){

  　// 位置情報を取得する
    navigator.geolocation.getCurrentPosition(function (position) {
      LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  　// 取得した位置情報を中心に表示
     map = new google.maps.Map(document.getElementById('map'), {
          center: LatLng,
          zoom: 15
        });

  　// マーカーを立てる
        let marker = new google.maps.Marker({
                map : map,
                position : LatLng
              });
      });
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.Google_API_KEY %>&callback=initMap" async defer ></script>

  <%= f.label "タグ登録" %>
  <%#= f.text_field : %>
  <%#= f.label "ジャンル" %>
  <%#= f.collection_select :genre_id, Genre.all, :id, :name %>
  <%= f.submit "投稿", class: "btn btn-success" %>
<% end %>
