<h3>写真投稿ページ</h3>
<%= form_with model: @post, local: true, url: posts_path do |f| %>

  <%= f.file_field :image, accept: "image/*" %><br>
  <%= f.label "タイトル" %>
  <%= f.text_field :title %><br>
  <%= f.label "説明文" %>
  <%= f.text_area :body %><br>
  <%= f.label "ジャンル" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %><br>
  <%= f.label "地図情報" %>
  <%= f.text_field :address, size: "50x1" %></br>

 <input id="address" type="textbox" value="">
  <input type="button" id="test_button" value="地図を検索" onclick="">
  <div id="display">緯度経度が表示されるよ！</div>

  <div id='map'></div>

  <style>
      #map {
          height: 400px;
          width: 400px;
      }
  </style>

  <script>
      let map

      const display = document.getElementById('display')

      // mapの表示関数
      function initMap() {
          geocoder = new google.maps.Geocoder()
          var marker;


          // mapの初期位置, 縮尺を定義
          map = new google.maps.Map(document.getElementById('map'), {
              center: {
                  lat: 35.6458437,
                  lng: 139.7046171
              },
              zoom: 12,
          });

          $('#test_button').on('click', (e)=> {
            let inputAddress = document.getElementById('address').value;
            // 地図検索関数
            geocoder.geocode({
              'address': inputAddress
              }, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);

                    if(marker != null){
                      marker.setMap(null);
            　　　  　　}
                      marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });


                display.textContent = "検索結果：" + results[ 0 ].geometry.location
                } else {
                    alert('該当する結果がありませんでした：' + status);
                }
            });
          })
      }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.Google_API_KEY %>&callback=initMap" async defer ></script>

  <%= f.label "タグ登録" %>
  <%= f.text_field :name, placeholder: ",で区切ってください" %><br>
  <%= f.submit "投稿", class: "btn btn-success" %>
<% end %>
