<div class="container">
  <div class="row text-center">
    <div class= "col-12">
      <%= image_tag @post.get_image, class: "show-image" %>

    </div>
  </div>
  <div class="row text-center">
    <div class= "col-12 mt-3 mb-5">
      <%= @post.user.name %>さんの投稿
      <% @post.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
    </div>
  </div>
  <div class="row text-center">
    <div class= "col-12">
       <%= link_to "この写真のexif情報を表示", exif_path, class: "text-decoration-none btn btn-outline-info" %>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class= "col-12">
      <%= form_with model: [@post,@comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力", class: "form-control" %>
        <%= f.submit "コメントする", class: "btn btn btn-outline-success mt-5" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 show-border"></div>
      <p>コメント件数(全<%= @post.comments.count %>件)</p>
  </div>
  <div class= "row mt-5">
    <div class= "col-12 show-wrap">
      <% @post.comments.each do |comment| %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post,comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>