<div class="container">
  <div class="row text-center">
    <div class= "col-12">
      <%= image_tag @post.get_image, class: "show-image" %>
      <div class="balloon">
        <%= link_to "exif情報を表示", exif_path, class: "text-decoration-none text-secondary" %>
      </div>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class= "col-12">
      <%= form_with model: [@post,@comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力", class: "form-control" %>
        <%= f.submit "コメントする", class: "btn btn-success mt-5" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 show-border"></div>
  </div>
  <div class= "row mt-5">
     <div class= "col-12">
      <p>コメント件数(全<%= @post.comments.count %>件)</p>
      <% @post.comments.each do |comment| %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post,comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class= "row">
    <div class= "col-12">

    </div>
  </div>
</div>