<div class="container">
  <div class="row text-center">
    <div class= "col-12">
      <%= image_tag @post.get_image, class: "show-image" %>
    </div>
  </div>
  <div class="row text-center">
    <div class= "col-12 mt-3 mb-5">
      <%= @post.user.name %>さんの投稿
      <p class= "title mt-5">タイトル: <%= @post.title %></p>
      <p>説明: <%= @post.body %></p>
      <p>
        タグ:
        <% @post.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </p>
    </div>

  </div>
  <div class="row text-center">
    <div class= "col-12">
       <%= link_to "この写真のexif情報を表示", exif_path, class: "text-decoration-none btn btn-outline-info", data: {"turbolinks" => false} %>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class= "col-12">
      <%= form_with model: [@post,@comment] do |f| %>
        <%= render 'public/shared/error_messages', model: f.object %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力", class: "form-control" %>
        <%= f.submit "コメントする", class: "btn btn btn-outline-success mt-5" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 show-border"></div>
      <p>コメント件数(全<%= @post.comments.count %>件)</p>
  </div>

  <%= render partial: 'favorites/favorite', locals: { post: @post } %>

    <table class= "table">
      <tbody>
      <% @post.comments.each do |comment| %>
        <tr>
          <th>
            <%= image_tag @post.user.get_profile_image(100,100) %>
          </th>
          <td>
            <%= @post.user.name %>
          </td>
          <td>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= comment.comment %>
          </td>
        <% if comment.user == current_user %>
          <td><%= link_to "削除", post_comment_path(comment.post,comment), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-outline-danger" %></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>