<div class="container">
  <h3>ジャンルから探す</h3>
  <div class="genre-wrap row">
    <div class="col-4">

      <div id= "img-1">
        <%= link_to image_tag('Genre1.JPG', size: "200x200"), nature_path(genre_id: 1) %>
        <p id= "ttl-1">自然</p>
      </div>

      <div id= "img-2">
        <%= link_to image_tag 'Genre2.JPG', size: "200x200" %>
        <p id= "ttl-2">天体</p>
      </div>

      <div id= "img-3">
        <%= link_to image_tag 'Genre3.JPG', size: "200x200"%>
        <p id= "ttl-3">夜景</p>
      </div>

      <div id= "img-4">
        <%= link_to image_tag 'Genre4.JPG', size: "200x200"%>
        <p id= "ttl-4">建築物</p>
      </div>

      <div id= "img-5">
        <%= link_to image_tag 'Genre5.JPG', size: "200x200"%>
        <p id= "ttl-5">乗り物</p>
      </div>
    </div>


    <div class="col-4">
      <div id= "img-6">
        <%= link_to image_tag 'Genre6.JPG', size: "200x200"%>
        <p id= "ttl-6">スポーツ</p>
      </div>

      <div id= "img-7">
        <%= link_to image_tag 'Genre7.JPG', size: "200x200"%>
        <p id= "ttl-7">ファッション</p>
      </div>

      <div id= "img-8">
      <%= link_to image_tag 'Genre8.JPG', size: "200x200"%>
      <p id= "ttl-8">ミリタリー</p>
      </div>

      <div id= "img-9">
        <%= link_to image_tag 'Genre9.JPG', size: "200x200"%>
      <p id= "ttl-9">ポートレート</p>
      </div>

      <div id= "img-10">
        <%= link_to image_tag 'Genre10.JPG', size: "200x200"%>
        <p id= "ttl-10">ウェディング</p>
      </div>

    </div>

    <div class="col-4">
      <div id= "img-11">
        <%= link_to image_tag 'Genre11.JPG', size: "200x200"%>
        <p id= "ttl-11">動物</p>
      </div>

      <div id= "img-12">
        <%= link_to image_tag 'Genre12.JPG', size: "200x200"%>
        <p id= "ttl-12">グルメ</p>
      </div>

      <div id= "img-13">
        <%= link_to image_tag 'Genre13.JPG', size: "200x200"%>
        <p id= "ttl-13">アート</p>
      </div>

      <div id= "img-14">
        <%= link_to image_tag 'Genre14.JPG', size: "200x200"%>
        <p id= "ttl-14">白黒</p>
      </div>

      <div id= "img-15">
        <%= link_to image_tag 'Genre15.JPG', size: "200x200"%>
        <p id= "ttl-15">その他</p>
      </div>
    </div>


    </div>
  </div>
</div>