<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <%= image_tag @post.get_image %>
    </div>
    <div class="col-12">
      <%= @post.user.name %>さんの投稿
      <p class= "title mt-5">タイトル: <%= @post.title %></p>
      <p>説明: <%= @post.body %></p>
      <p>
        タグ:
        <% @post.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
      </p>
    </div>
  </div>
</div>