<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h2 class= "mb-5">管理者ユーザー編集</h2>
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <%= f.label :image, "ユーザー画像" %>
        <%= f.file_field :image, accept: "image/*" %><br>
        <%= f.label :name, "ユーザー名:" %>
        <%= f.text_field :name %><br>
        <%= f.label :email, "メールアドレス:" %>
        <%= f.text_field :email %><br>
        <%= f.label :introduction, "紹介文:" %>
        <%= f.text_field :introduction %><br>
        <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>
</div>