<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <img src= <%= image_path('marker.jpg') %> alt= "" class= "marker-image">
    </div>
  </div>

  <h3 class= "text-center">マイページ</h3>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @user.get_profile_image(200,200) %>
      </div>
      <div class="col-md-8">
        ユーザー名:
        <%= @user.name %><br>
        メールアドレス:
        <%= @user.email %><br>
        自己紹介:
        <%= @user.introduction %><br>
      </div>
  </div>

  <div class="row text-center">
    <div class="col-12">
      <% if @user.name != "guestuser" %>
        <%= link_to "編集する", edit_user_path, class: "btn btn-outline-success mr-5 mt-5" %>
        <%= link_to "自分の投稿一覧を見る", user_post_path(@user.id), class: "btn btn-outline-warning mt-5" %>
      <% end %>
    </div>
  </div>
</div>